gendock_project/rest/__pycache__/cleanup_smiles.cpython-39.pyc
gendock_project/rest/__pycache__/gen_process.cpython-39.pyc
gendock_project/rest/lstm_chem/__pycache__/__init__.cpython-39.pyc
gendock_project/rest/lstm_chem/__pycache__/data_loader.cpython-39.pyc
gendock_project/rest/lstm_chem/__pycache__/finetuner.cpython-39.pyc
gendock_project/rest/lstm_chem/__pycache__/generator.cpython-39.pyc
gendock_project/rest/lstm_chem/__pycache__/model.cpython-39.pyc
gendock_project/rest/lstm_chem/__pycache__/trainer.cpython-39.pyc
gendock_project/rest/lstm_chem/utils/__pycache__/config.cpython-39.pyc
gendock_project/rest/lstm_chem/utils/__pycache__/dirs.cpython-39.pyc
gendock_project/rest/lstm_chem/utils/__pycache__/smiles_tokenizer.cpython-39.pyc
gendock_project/rest/lstm_chem/utils/__pycache__/smiles_tokenizer2.cpython-39.pyc
gendock_project/rest/lstm_chem/utils/__pycache__/smiles_tokenizer.cpython-39.pyc
gendock_project/rest/lstm_chem/utils/__pycache__/smiles_tokenizer.cpython-39.pyc
gendock_project/rest/lstm_chem/utils/__pycache__/smiles_tokenizer.cpython-39.pyc
gendock_project/rest/lstm_chem/__pycache__/__init__.cpython-39.pyc
gendock_project/rest/lstm_chem/utils/__pycache__/smiles_tokenizer.cpython-39.pyc
gendock_project/gui/__pycache__/__init__.cpython-310.pyc
gendock_project/gui/__pycache__/admin.cpython-310.pyc
gendock_project/gui/__pycache__/apps.cpython-310.pyc
gendock_project/gui/__pycache__/models.cpython-310.pyc
gendock_project/gui/__pycache__/tasks.cpython-310.pyc
gendock_project/gui/__pycache__/urls.cpython-310.pyc
gendock_project/gui/__pycache__/views.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/__init__.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0001_initial.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0002_uploadedcsv_cleaned_smiles_file.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0003_uploadedcsv_task_id.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0004_cleansmiles.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0005_alter_uploadedcsv_cleaned_smiles_file.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0006_alter_uploadedcsv_cleaned_smiles_file_and_more.cpython-310.pyc
gendock_project/gui/__pycache__/admin.cpython-39.pyc
gendock_project/gui/__pycache__/models.cpython-39.pyc
gendock_project/gui/__pycache__/tasks.cpython-39.pyc
gendock_project/gui/__pycache__/urls.cpython-39.pyc
gendock_project/gui/__pycache__/views.cpython-39.pyc
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693636958.shayan-ROG.8761.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693654931.shayan-ROG.10529.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693844153.shayan-ROG.7812.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693849480.shayan-ROG.394184.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693849879.shayan-ROG.394971.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693849991.shayan-ROG.395591.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693850081.shayan-ROG.396139.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693850109.shayan-ROG.396654.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693850147.shayan-ROG.397199.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693850334.shayan-ROG.397953.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693850459.shayan-ROG.398776.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693850542.shayan-ROG.399368.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693861373.shayan-ROG.416972.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693861883.shayan-ROG.418145.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693862674.shayan-ROG.419427.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693862857.shayan-ROG.420408.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693862948.shayan-ROG.420408.3.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693863088.shayan-ROG.422057.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693863261.shayan-ROG.422923.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693863322.shayan-ROG.423607.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693863486.shayan-ROG.424436.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693863810.shayan-ROG.425163.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693863842.shayan-ROG.425163.3.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693863933.shayan-ROG.425163.5.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693865508.shayan-ROG.427918.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693865743.shayan-ROG.427918.3.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693865857.shayan-ROG.429433.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693865976.shayan-ROG.429433.3.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693866111.shayan-ROG.429433.5.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693866381.shayan-ROG.429433.7.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693866482.shayan-ROG.429433.9.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693866599.shayan-ROG.429433.11.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693866884.shayan-ROG.432516.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693867095.shayan-ROG.433674.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693867225.shayan-ROG.433674.3.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693867405.shayan-ROG.433674.5.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693867542.shayan-ROG.433674.7.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693867735.shayan-ROG.436006.1.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693868449.shayan-ROG.436006.3.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693868663.shayan-ROG.436006.5.v2
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-0.03.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-0.38.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.59.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.63.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.64.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.65.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.67.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.69.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.70.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.72.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.74.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.75.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.76.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.77.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.78.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.79.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.80.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.81.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.82.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.83.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.84.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.85.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.86.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.87.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.91.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.92.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.95.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-2.00.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-2.04.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-2.06.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-2.11.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-02-0.03.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-02-1.58.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-02-1.59.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-02-1.60.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-02-1.61.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-02-1.62.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-02-1.63.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-02-1.64.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-02-1.73.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-02-1.74.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-02-1.75.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-02-1.76.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-02-1.77.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-02-1.78.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-03-0.03.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-03-1.26.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-03-1.28.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-03-1.31.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-03-1.36.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-03-1.40.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-03-1.43.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-03-1.81.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-04-0.03.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-04-1.18.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-04-1.19.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-04-1.21.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-04-1.26.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-04-1.27.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-04-1.31.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-05-0.02.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-06-0.02.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-07-0.02.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-08-0.02.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-09-0.02.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-10-0.02.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-11-0.02.hdf5
gendock_project/uploads/CHEMBL25-chembl_molecule.csv
gendock_project/uploads/dataset_v1.csv
gendock_project/uploads/datatest.csv
gendock_project/uploads/datatest2.csv
gendock_project/rest/datasets/datatest2.csv
gendock_project/rest/experiments/LSTM_Chem/logs/train/events.out.tfevents.1693869717.shayan-ROG.436006.6.v2
gendock_project/rest/experiments/LSTM_Chem/logs/validation/events.out.tfevents.1693869719.shayan-ROG.436006.7.v2
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-02-1.69.hdf5
gendock_project/cleaned_smiles/27_clean.smi
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.88.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-01-1.96.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-02-1.68.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-02-1.70.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-02-1.71.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-02-1.72.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-03-1.45.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-03-1.49.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-03-1.63.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-03-1.77.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-03-1.79.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-04-1.24.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-04-1.25.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-05-1.12.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-05-1.13.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-06-1.04.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-06-1.05.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-06-1.06.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-07-1.00.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-07-1.01.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-08-0.97.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-08-0.98.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-09-0.95.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-09-0.96.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-10-0.93.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-10-0.94.hdf5
gendock_project/rest/experiments/LSTM_Chem/rest/checkpoints/LSTM_Chem-10-0.95.hdf5
gendock_project/gui/__pycache__/admin.cpython-39.pyc
gendock_project/gui/__pycache__/models.cpython-39.pyc
gendock_project/gui/__pycache__/tasks.cpython-39.pyc
gendock_project/gui/__pycache__/urls.cpython-39.pyc
gendock_project/gui/__pycache__/views.cpython-39.pyc
gendock_project/gui/__pycache__/forms.cpython-39.pyc
gendock_project/gui/__pycache__/models.cpython-39.pyc
gendock_project/gui/__pycache__/urls.cpython-39.pyc
gendock_project/gui/__pycache__/views.cpython-39.pyc
gendock_project/gui/__pycache__/forms.cpython-39.pyc
gendock_project/gui/__pycache__/models.cpython-39.pyc
gendock_project/gui/__pycache__/urls.cpython-39.pyc
gendock_project/gui/__pycache__/views.cpython-39.pyc
gendock_project/gui/migrations/__pycache__/0022_alter_receptorconfiguration_receptor_file.cpython-39.pyc
gendock_project/gui/migrations/__pycache__/0023_alter_receptorconfiguration_receptor_file.cpython-39.pyc
gendock_project/gui/migrations/__pycache__/0024_alter_receptorconfiguration_receptor_file.cpython-39.pyc
gendock_project/gui/migrations/__pycache__/__init__.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0001_initial.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0002_uploadedcsv_cleaned_smiles_file.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0003_uploadedcsv_task_id.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0007_cleanedsmile.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0008_remove_uploadedcsv_task_id_cleanedsmile_task_id.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0009_remove_uploadedcsv_cleaned_smiles_file_and_more.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0010_cleanedsmile_task_status.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0011_trainlog.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0012_alter_trainlog_epoch_alter_trainlog_train_loss_and_more.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0013_trainlog_max_epoch.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0014_alter_trainlog_epoch.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0015_alter_trainlog_epoch.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0016_trainlog_cur_batch.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0017_trainlog_max_batch.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0018_alter_trainlog_max_batch.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0019_receptorconfiguration.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0020_remove_receptorconfiguration_receptor_file.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0021_receptorconfiguration_receptor_file.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0022_alter_receptorconfiguration_receptor_file.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0023_alter_receptorconfiguration_receptor_file.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0024_alter_receptorconfiguration_receptor_file.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/__init__.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0001_initial.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0002_uploadedcsv_cleaned_smiles_file.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0003_uploadedcsv_task_id.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0007_cleanedsmile.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0008_remove_uploadedcsv_task_id_cleanedsmile_task_id.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0009_remove_uploadedcsv_cleaned_smiles_file_and_more.cpython-310.pyc
gendock_project/gui/migrations/__pycache__/0010_cleanedsmile_task_status.cpython-310.pyc
