<!-- csv_processor/templates/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}CSV Processor{% endblock %}</title>
    
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
</head>

<body class="bg-sky-100" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <nav class="bg-cyan-700 p-4">
        <ul class="mx-auto flex space-x-4 px-8">
            <li><a href="{% url 'upload' %}" class="text-white">Upload</a></li>
            <li><a href="{% url 'train' %}" class="text-white">Train</a></li> 
            <li><a href="{% url 'generate' %}" class="text-white">Generate</a></li>
        </ul>
    </nav>
    
    {% block content %}{% endblock %}
</body>

</html>