{% if validity is None %}
<div class="container mx-auto" hx-get="{% url 'generate_progress' task_id %}" hx-target="#gen-progress"
    hx-trigger="load delay:1s">
    <h1 class="text-3xl font-semibold mb-6">Generate Progress</h1>

    <div class="w-full bg-gray-300">
        <div class="relative w-full bg-orange-500 text-center py-2 text-white" style="width: {{ progress }}%;">
            <span class="text-xs font-semibold">{{ progress }}%</span>
        </div>
    </div>

    <div class="mt-4 text-center">
        <p class="text-lg font-semibold">{{ current }} / {{ total }}</p>
    </div>
    <button id="cancel-task" class="px-4 py-2 bg-red-500 text-white rounded-lg"
    hx-post="{% url 'generate_progress' task_id %}" hx-target="#gen-progress">Cancel Task</button>
</div>
{% else %}
<div class="container mx-auto">
    {% if originality %}
    <h1 class="text-3xl font-semibold mb-6">Generation result on {{ total }} smiles:</h1>

    <!-- Display validity, uniqueness, and originality here -->
    <div class="mb-4">
        <p class="text-lg font-semibold">Validity: {{ validity }}</p>
        <p class="text-lg font-semibold">Uniqueness: {{ uniqueness }}</p>
        <p class="text-lg font-semibold">Originality: {{ originality }}</p>
    </div>
    <div id="recept-resp" class="mb-6">
        <div id="validation-message" class="text-red-500 mt-2"></div>
    </div>
    {% endif %}
    {% if validity != 0 %}
    <!-- Add buttons for Configure Receptor and Start Docking -->
    <div class="mb-6 flex">
        <button id="configure-receptor-btn"
            class="px-4 py-2 bg-orange-400 text-white rounded-lg hover:bg-orange-500">Configure Receptor</button>
        <form method="post" action="" hx-post="{% url 'start_docking' %}" hx-target="#gen-progress">
            {% csrf_token %}

            <!-- Hidden Input for Generation Number -->
            <input type="hidden" name="hidden_generation_number" id="hidden_generation_number" value="0">

            <!-- Start Docking Button -->
            <button name="start_docking" type="submit" id="start_docking"
                class="px-4 py-2 bg-sky-400 text-white rounded-lg hover:bg-sky-500 ml-4">
                Start Docking
            </button>

            <!-- JavaScript to Update Hidden Input -->
            <script>
                // Update the hidden input with the value from the generation_number input
                document.getElementById('start_docking').addEventListener('click', function () {
                    var generationNumber = document.getElementById('generation_number').value;
                    console.log(generationNumber);
                    document.getElementById('hidden_generation_number').value = generationNumber;
                    document.getElementById('generation_number').value++;
                });
            </script>
        </form>
    </div>
    <div id="configure-receptor-modal" class="fixed inset-0 z-10 hidden overflow-auto bg-black bg-opacity-50">
        <div class="relative p-8 bg-white w-96 mx-auto my-20 rounded-lg shadow-md">
            <!-- Modal Close Button -->
            <button id="close-configure-receptor-modal"
                class="absolute top-2 right-2 text-gray-500 hover:text-gray-800">
                <svg class="h-4 w-4" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>

            <h2 class="text-xl font-semibold mb-4">Configure Receptor</h2>
            <form hx-post="{% url 'generate_progress' task_id %}" hx-target="#validation-message"
                hx-encoding="multipart/form-data" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-4">
                    {{ form.receptor_file.label_tag }}
                    {{ form.receptor_file }}
                </div>

                <!-- Center and Size Inputs -->
                <div class="grid grid-cols-4 gap-4 mb-4">
                    {{ form.center_x.label_tag }}
                    {{ form.center_x }}
                    {{ form.size_x.label_tag }}
                    {{ form.size_x }}
                    {{ form.center_y.label_tag }}
                    {{ form.center_y }}
                    {{ form.size_y.label_tag }}
                    {{ form.size_y }}
                    {{ form.center_z.label_tag }}
                    {{ form.center_z }}
                    {{ form.size_z.label_tag }}
                    {{ form.size_z }}
                    <!-- Add similar fields for Y and Z -->
                </div>

                <!-- Exhaustive Number Input -->
                <div class="grid grid-cols-2 gap-4 mb-4">
                    {{ form.exhaustive_number.label_tag }}
                    {{ form.exhaustive_number }}
                </div>

                <!-- Modal Action Buttons -->
                <div class="flex justify-end">
                    <button name="submit_conf" id="done-configure-receptor" type="submit"
                        class="px-4 py-2 bg-sky-400 text-white rounded-lg mr-4">
                        Done
                    </button>
                </div>
                {{ form.non_field_errors }}
            </form>
        </div>

    </div>

    <!-- JavaScript to Handle Modal Interaction -->
    <script>
        // Open the modal when the "Configure Receptor" button is clicked
        document.getElementById('configure-receptor-btn').addEventListener('click', function () {
            document.getElementById('configure-receptor-modal').classList.remove('hidden');
        });

        document.getElementById('close-configure-receptor-modal').addEventListener('click', function () {
            document.getElementById('configure-receptor-modal').classList.add('hidden');
        });

        // Close the modal when the "Done" button is clicked
        document.getElementById('done-configure-receptor').addEventListener('click', function () {
            const receptorFile = document.getElementById('{{ form.receptor_file.id_for_label }}');
            if (validateReceptorForm() && receptorFile.files.length > 0) {
                document.getElementById('configure-receptor-modal').classList.add('hidden');
                // Clear any previous validation message
                document.getElementById('validation-message').textContent = '';
            } else {
                // Display a validation message within the modal
                const validationMessage = 'Please fill in all fields and select a receptor file.';
                document.getElementById('validation-message').textContent = validationMessage;
            }
            // Handle form submission or data processing here
            // ...
            // After processing, you can close the modal
            document.getElementById('configure-receptor-modal').classList.add('hidden');
        });
        function validateReceptorForm() {

            const receptorFile = document.getElementById('{{ form.receptor_file.id_for_label }}');
            const centerX = document.getElementById('{{ form.center_x.id_for_label }}');
            const sizeX = document.getElementById('{{ form.size_x.id_for_label }}');
            const centerY = document.getElementById('{{ form.center_y.id_for_label }}');
            const sizeY = document.getElementById('{{ form.size_y.id_for_label }}');
            const centerZ = document.getElementById('{{ form.center_z.id_for_label }}');
            const sizeZ = document.getElementById('{{ form.size_z.id_for_label }}');
            const exhaustiveNumber = document.getElementById('{{ form.exhaustive_number.id_for_label }}');

            if (

                centerX.value.trim() === '' ||
                sizeX.value.trim() === '' ||
                centerY.value.trim() === '' ||
                sizeY.value.trim() === '' ||
                centerZ.value.trim() === '' ||
                sizeZ.value.trim() === ''
                // Add similar conditions for other fields
            ) {
                // At least one required field is empty
                return false;
            }
            return true;
        }
    </script>
    {% endif %}
</div>
{% endif %}